# ***02_Assignment_Python_DataStructure***

# **Practical Questions**

**01.Write a code to create a string with your name and print it.**

In [ ]:
my_name = "Bhushan Birari"
print(my_name)

Bhushan Birari

**2.Write a code to find the length of the string "Hello World".**

In [ ]:
length_string = "Hello World"
print(len(length_string))

11


**3.Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
slice_string = "Python Programming"
print(slice_string[:3])

Pyt

**4.Write a code to convert the string "hello" to uppercase**

In [9]:
convert_string = "hello"
print(convert_string.upper())

HELLO

**5.Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [14]:
str_word = "I Like apple"
new_string = str_word.replace("apple","orange")
print(new_string)

I Like orange

**6.Write a code to create a list with numbers 1 to 5 and print it.**

In [15]:
List1 = [1, 2, 3, 4, 5]
print(List1)

[1, 2, 3, 4, 5]

In [20]:
my_list = list(range(1, 6))
print(my_list)

[1, 2, 3, 4, 5]

**7.Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [24]:
number = [1, 2, 3, 4]
append_number = number.append(10)
print(number)

[1, 2, 3, 4, 10]

**8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [25]:
number1 = [1, 2, 3, 4, 5]
remove_number = number1.remove(3)
print(number1)

[1, 2, 4, 5]

**9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [26]:
element = ["a","b","c","d"]
print(element[1])

b

**10.Write a code to reverse the list [10, 20, 30, 40, 50].**

In [27]:
reverse_list = [10 ,20 ,30, 40, 50]
reverse_list.reverse()
print(reverse_list)

[50, 40, 30, 20, 10]

**11.Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [29]:
tuple1 = (100, 200, 300)
print(tuple1)
type(tuple1)

(100, 200, 300)

tuple

**12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [31]:
my_tuple = ("red", "green", "blue", "yellow")
print(my_tuple[1:])

('green', 'blue', 'yellow')

**13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [34]:
min_tuple = (10, 20, 5, 15)
minimum_number = min(min_tuple)
print(minimum_number)

5

**14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [35]:
my_tuple = ('dog', 'cat', 'rabbit')
index = my_tuple.index('cat')
print(index)

1

**15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [42]:
fruits = ("apple", "kiwi", "banana")
if "kiwi" in fruits:
  print("kiwi is in tuple")
else:
  print("kiwi is not in tuple")

kiwi is in tuple

**16.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [44]:
my_set = {"a", "b", "c"}
print(my_set)

{'a', 'c', 'b'}

**17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}**

In [2]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

**18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [5]:
my_list = {1, 2, 3, 4}
my_list.remove(4)
print(my_list)

{1, 2, 3}

**19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [6]:
set1  = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

**20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [7]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

**21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it**

In [10]:
my_dict = {"NAME":"BHUSHAN", "AGE": 35, "CITY":"CHENNAI"}
print(my_dict)
type(my_dict)

{'NAME': 'BHUSHAN', 'AGE': 35, 'CITY': 'CHENNAI'}

dict

**22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [16]:
my_dict = {"name":"john", "age": 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

**23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [19]:
my_dict = {"name":"alice", "age": 30}
print(my_dict["name"])

alice

**24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [21]:
my_dict = {"name":"Bob", "age": 22, "city":"New York"}
del my_dict["age"]
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

**25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**.

In [22]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in my_dict:
  print("city is available")
else:
  print("city is not available")

city is available

**26.Write a code to create a list, a tuple, and a dictionary, and print them all**

In [29]:
l1 = [1, 2, 3, "bhushan"]
t1 = ("a", "b", "c", 4)
d1 = {"name":"sunny","age":35,"city":"chennai"}
print("list -",l1, "\nTuple -",t1,"\ndictonary -" ,d1)

list - [1, 2, 3, 'bhushan']
Tuple - ('a', 'b', 'c', 4)
dictonary - {'name': 'sunny', 'age': 35, 'city': 'chennai'}

**27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)**

In [39]:
import random
random_numbers = []
for i in range(5):
  random_numbers.append(random.randint(1, 100))
random_numbers.sort()
print(random_numbers)

[7, 18, 49, 71, 94]

**28.Write a code to create a list with strings and print the element at the third index.**

In [40]:
my_list = ["bhushan", "minakshi" ,"sunny" ,"siddhesh" ,"janhavi"]
print(my_list[2])

sunny

**29.Write a code to combine two dictionaries into one and print the result.**

In [43]:
my_dict = {"name":"bhushan","age":35,"course":"Data Science","city":"chennai"}
marks_dict = {"sub1":50, "sub2":60,"sub3":70}
my_dict.update(marks_dict)
print(my_dict)

{'name': 'bhushan', 'age': 35, 'course': 'Data Science', 'city': 'chennai', 'sub1': 50, 'sub2': 60, 'sub3': 70}

**30.Write a code to convert a list of strings into a set.**

In [45]:
my_list = ["apple", "banana", "kiwi", "mango", "Termind"]
my_set = set(my_list)
print(my_set)
type(my_set)

{'Termind', 'banana', 'kiwi', 'mango', 'apple'}

set

# **Data Types and Structures Questions-Therotical**

**1.What are data structures, and why are they important**



*   Data structures are ways to organize and store
data so that it can be used efficiently. Think of them as different types of containers, each suited for specific purposes
*   
They help you manage data effectively, making your programs faster and more efficient. Understanding data structures is like having the right tools to tackle different problems.

**2.Explain the difference between mutable and immutable data types with examples**



*   Mutable - can change the value aftetr created.
    example - list , set , dictonary
*   Immutable - can not change the value after created.
    example - tuple , string

**3.What are the main differences between lists and tuples in Python**


*   List - they are mutable.they can change add or remove elements after creation.
*   methods - append() , pop() , remove() , sort()
---

*   tuples - they are immutable.once created cannot change, add update after creation.
*   methods - count() , index()

**4.Describe how dictionaries store data**

Dictionaries - they save the data in key value pair.
keys are unique and immutable like string,number or tuple.
value are immutable in nature they can be any type of mutable or immutable

**5.Why might you use a set instead of a list in Python**



*   list - allow duplicate so you need to remove it manually
*   set - all elements are unique automatically.provides build in mathomatical operation like union , intersection and difference it is easy perform set related task

**6.What is a string in Python, and how is it different from a list**

string in python is a sequence of character enclosed in single quote , double quote or tripple quote.they are immutable in nature means you can not change after creatioin

* string - immutable , character , enclosed in quotes , string specific methods , represent character

* List - mutable , any data type , enclosed in square brackets , list specific method , represent collection of items

**7.How do tuples ensure data integrity in Python**

Tuples in Python help ensure data integrity through their immutable nature. Once a tuple is created, its elements cannot be changed, added, or removed.

**8.What is a hash table, and how does it relate to dictionaries in Python**

A hash table is a data structure that maps keys to values using a technique called hashing. It allows for efficient data retrieval, insertion, and deletion.
1.key value pairs
2.hashing
3.index calculation
4.efficient lookup

**9.Can lists contain different data types in Python**

Yes.Python lists are quite versatile and can contain elements of different data types. For example, you can have a list that includes integers, strings, floats, and even other lists.

**10.Explain why strings are immutable in Python**

Efficiency - Reusing the same string in memory saves resources.

Safety - Ensures that strings passed to functions won't get changed unexpectedly.

Hashability - Allows strings to be used as keys in dictionaries, as their hash value won't change.

Concurrency - Easier to write safe multi-threaded programs since strings can't be modified.

**11.What advantages do dictionaries offer over lists for certain tasks**

Quick Lookup - Find values fast if you know the key, like looking up a name in a phone book.

Unique Keys - Ensures each key is unique, no duplicates allowed.

Organized Data - Easier to organize and find data with key-value pairs.

Fast Searches - Finding an item in a dictionary is usually quicker than searching through a list.

**12.Describe a scenario where using a tuple would be preferable over a list**

Scenario: Storing Fixed Data

Example: Storing geographical coordinates (latitude and longitude) for a location.

Reason: Coordinates should not change once set.

In [5]:
coordinates = (13.0827, 80.2707)  # Tuple for coordinates
location_dict = {coordinates: "Chennai"}
print(location_dict)
type(coordinates)

{(13.0827, 80.2707): 'Chennai'}

tuple

**13.How do sets handle duplicate values in Python**

Sets in Python automatically handle duplicate values by only allowing unique elements. If you try to add a duplicate value to a set, it will be ignored.

**14.How does the “in” keyword work differently for lists and dictionaries**


*   List - in checks if an item is in the list
*   dictionaries - in checks if an key is in the dictionaries

**15.Can you modify the elements of a tuple? Explain why or why not**

No. You can not modify the elements of a tuple.
because tuple is immutable.
after creation of tuple you can not modify it

**16.What is a nested dictionary, and give an example of its use case**

A nested dictionary is a dictionary inside another dictionary.

It allows you to organize data in a structured way.

Use Case:

Example: Storing student details in a school database.

In [8]:
student_database = {
    "student1": {"name": "Harry","age": 20,"courses": ["Math", "Science", "Art"]},
    "student2": {"name": "potter","age": 22,"courses": ["History", "Science", "Math"]}
                  }


print(student_database["student1"]["name"])
print(student_database["student2"]["courses"])

Harry
['History', 'Science', 'Math']

**17.Describe the time complexity of accessing elements in a dictionary**

on average, accessing an element in a dictionary takes a fixed amount of time, regardless of the size of the dictionary.

**18.In what situations are lists preferred over dictionaries**

Lists are preferred when:

Order of elements matters.

Duplicates are needed.

Simple and straightforward data access is sufficient.

Index-based access is required.

Minimal memory overhead is desired for small datasets.

**19.Why are dictionaries considered unordered, and how does that affect data retrieval**

Dictionaries do not maintain the order of elements as they store data based on hash codes, not the sequence of insertion.

Impact on Data Retrieval:

The order of elements is unpredictable when accessing or iterating over a dictionary.

Despite this, dictionaries provide very fast access to values using keys.

**20.Explain the difference between a list and a dictionary in terms of data retrieval.**

Lists: Use when you need ordered, index-based access.

Dictionaries: Use for quick lookups based on unique keys.

# ***End***